@font-face {
    font-family: "Bosk";
    src: url("../fonts/Bosk.ttf");
}
@font-face {
    font-family: "Helvetica";
    src: url("../fonts/HelveticaNeue.ttf");
}
@font-face {
    font-family: "Helvetica Bold";
    src: url("../fonts/HelveticaBold.ttf");
}

.fondo {
    -fx-background-image: url("../img/bg1.jpg");
    -fx-background-repeat: repeat;
    -fx-background-position: center center;
}

.titulo {
    -fx-font-size: 3em;
    -fx-font-family: 'Bosk';
    -fx-text-fill: #252525;
}
.subtitulo {
    -fx-font-size: 2em;
    -fx-font-family: 'Bosk';
    -fx-text-fill: #252525;
}
.texto {
    -fx-font-size: 15px;
    -fx-text-fill: #252525;
    -fx-font-weight: bold;
}

.texto-info {
    -fx-font-size: 15px;
    -fx-text-fill: #479E1D;
    -fx-font-weight: bold;
}
.texto-alert {
    -fx-font-size: 10px;
    -fx-text-fill: #F50303;
    -fx-font-weight: bold;
}

.btn-marino {
  -fx-background-color: 
    linear-gradient(to bottom, #303c44, #252e34);

  -fx-effect: innershadow(one-pass-box, #3d4850, 5, 0.1, 1, 1);

  -fx-text-fill: #ECECEC;
  -fx-font-weight: bold;
  -fx-border: solid;
  -fx-border-size: 4px;
  -fx-border-radius: 4px;
  -fx-border-color: #273138;

  -fx-background-radius: 4;
  -fx-background-insets: 0,1,4,5,6;
}
.btn-marino:hover{
    -fx-background-color: 
        linear-gradient(to bottom, #404f5a, #2e3940);
    -fx-effect: innershadow(one-pass-box, #4c5a64, 5, 0.1, 1, 1);
}
.btn-marino:pressed{
    -fx-background-color: 
        linear-gradient(to bottom, #252e34, #222a30);
    -fx-effect: innershadow(one-pass-box, #21292e, 5, 0.1, 1, 1);
}
.btn-marino .text{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: white;
}


.btn-verde {
  -fx-background-color: linear-gradient(#30E100, #186E00);

  -fx-text-fill: #ECECEC;
  -fx-font-size: 15px;
  -fx-font-weight: bold;

  -fx-background-radius: 4;
  -fx-background-insets: 0,1,4,5,6;
}
.btn-verde:hover{
    -fx-background-color: linear-gradient(#36FA00, #1D8700);
}
.btn-verde:pressed{
    -fx-background-color: linear-gradient(#2AC700, #125400);
}

.btn-rojo {
  -fx-background-color: linear-gradient(#DF0000, #700000);
  -fx-text-fill: #ECECEC;
  -fx-font-size: 15px;
  -fx-font-weight: bold;

  -fx-background-radius: 4;
  -fx-background-insets: 0,1,4,5,6;
}
.btn-rojo:hover{
    -fx-background-color: linear-gradient(#F70000, #8A0000);
}
.btn-rojo:pressed{
    -fx-background-color: linear-gradient(#C40000, #570000);
}






/**  Controles directos */
.combo-box .list-cell {
    -fx-background: #E4E9E9;
    -fx-font-size: 15px;
    -fx-text-fill: #252525;
    -fx-font-weight: bold;
}

.combo-box-popup .list-view {
    -fx-background-color: #D9DDE0;
    -fx-background-insets: 0, 1;
}    

.combo-box-popup .list-view .list-cell {
    /* No alternate highlighting */
    -fx-background-color: #D9DDE0;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-background: #E4E9E9;
    -fx-background-color: 
        linear-gradient(to bottom, #E5E8E9, #D1D3D5);
    -fx-text-fill: -fx-selection-bar-text;
}

.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: 
        linear-gradient(to bottom, #D5D7D8, #C1C3C5);
    -fx-text-fill: #252525;
}

.combo-box-base  
{
    -fx-background-color: 
        linear-gradient(to bottom, #E5E8E9, #D1D3D5);
    -fx-text-fill: #252525;
}

.combo-box-base:hover {
    -fx-color: -fx-hover-base;
}

.combo-box-base:showing {
    -fx-color: #E4E9E9;

}

.combo-box-base:focused {
    -fx-background-color: 
        linear-gradient(to bottom, #E5E8E9, #D1D3D5);
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
    -fx-text-fill: #252525;
}

.combo-box-base:disabled {
    -fx-opacity: .4;
}
