@font-face {
    src: url("../fonts/Bosk.ttf"),
}

.root {
    -fx-background-color: gray;
    -fx-font-family: "Bosk";
}

.titulo {
    -fx-font-size: 3em;
    -fx-font-family: 'Bosk';
    -fx-text-fill:#202020;
}
.texto {
    -fx-font-size: 20px;
    -fx-font-family: 'Bosk';
    -fx-text-fill:#1D1D1D;
}
.fondo{
    -fx-background-color: #B2B2B2;
}

.btn-verde {
    -fx-background-color: linear-gradient(#30E100, #186E00);
    -fx-background-radius: 5;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font-size: 2em;
    -fx-font-family: 'Bosk';
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1); 
}
.btn-verde:hover{
    -fx-background-color: linear-gradient(#36FA00, #1D8700);
}
.btn-verde:pressed{
    -fx-background-color: linear-gradient(#2AC700, #125400);
}


.btn-azul {
    -fx-background-color: linear-gradient(#004FE0, #002871);
    -fx-background-radius: 5;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font-size: 2em;
    -fx-font-family: 'Bosk';
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1); 
}
.btn-azul:hover{
    -fx-background-color: linear-gradient(#0058FA, #00318A);
}
.btn-azul:pressed{
    -fx-background-color: linear-gradient(#0046C7, #001F57);
}


.btn-rojo {
    -fx-background-color: linear-gradient(#DF0000, #700000);
    -fx-background-radius: 5;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font-size: 2em;
    -fx-font-family: 'Bosk';
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1); 
}
.btn-rojo:hover{
    -fx-background-color: linear-gradient(#F70000, #8A0000);
}
.btn-rojo:pressed{
    -fx-background-color: linear-gradient(#C40000, #570000);
}

.btn-morado {
    -fx-background-color: linear-gradient(#BD00DF, #5D0092);
    -fx-background-radius: 5;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font-size: 2em;
    -fx-font-family: 'Bosk';
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1); 
}
.btn-morado:hover{
    -fx-background-color: linear-gradient(#D200F7, #6C00AB);
}
.btn-morado:pressed{
    -fx-background-color: linear-gradient(#A700C4, #4C0078);
}

.btn-gris {
    -fx-background-color: linear-gradient(#C6C3C7, #4F4F4F);
    -fx-background-radius: 5;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font-size: 2em;
    -fx-font-family: 'Rollfast Regular';
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1); 
}
.btn-gris:hover{
    -fx-background-color: linear-gradient(#A9C3A2, #677B61);
}
.btn-gris:pressed{
    -fx-background-color: linear-gradient(#2AC700, #125400);
}